
<% if @books.count == 0 %>
  <h1>There are no books currently in this category</h1>
<% else %>
  <div class="row">
    <% @books.each do |book| %>
      <div class="col-md-3">
        <a href="/books/<%= book.id %>">
          <% if book.thumbnail.attached? %>
            <%= image_tag(book.thumbnail, class: "img-thumbnail")  %>
          <% end %>
        </a>
         <a href="/books/<%= book.id %>">
          <h2><%= book.title %></h2>
        </a>
      </div>
    <% end %>
  </div>
<% end %>