<%= form_for([@book, @book.reviews.build]) do |f| %>
  <div id="rating-form" class='new-review__form average-review-rating rating-box'>
    <label>Rating: </label>   
  </div>
   <label>Comment: </label>
    <%= f.text_field :description, class: 'form-control' %>
    <%= f.button :Submit, class: "btn btn-dark mt-5" %>

<% end %>

<script>
  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'review[rate]'
  });
</script>