<div class="review">
  <div class="review-rating" data-score="<%= review.rate %>"></div>
  <p class="review-comment"><%= review.description %></p>

  <% if user_signed_in? %>
    <% if review.user_id == current_user.id %>
      <div class="links btn-group">  
        <%= link_to "Edit", edit_book_review_path(review.book, review), class: "btn btn-custom" %>
        <%= link_to "Delete", book_review_path(review.book, review), class: "btn btn-custom", method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    <% end %>
  <% end %>
</div>